*{
    margin:0;
}

/* .body{ */
    /* background-image: url('img/nighty.jpg');
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    background-attachment: fixed ;
} */

.links{
    display: flex;
    gap: 10px;
    justify-content: right;   
    color:antiquewhite;
    align-items: center;
    height:60px;
}


.links a{
    text-decoration: none;
    color:antiquewhite;
    font-size: 18px;
}

.links a:hover{
    color:aquamarine;
}

.navbar{
    background-color: rgb(23 48 106);
    align-items: center;
}

.container{
    width:70%;
    margin: auto;
    align-items: center;
}

.middle{
    background-image: url('img/nighty.jpg');
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    background-attachment: fixed ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:650px;
}

.middle p{
    font-style: oblique;
    width:500px;
    font-size: 20px;
    
}
